- var notes = 'You can enter anything you want here. Just add data-notes to the section.'

section(data-notes=notes)
  p Criando Api com NodeJS e Typescript - Nest <3
  img(src="https://camo.githubusercontent.com/0d358238ba8c67946e6555aad926b947e1a5048f/68747470733a2f2f6e6573746a732e636f6d2f696d672f6c6f676f5f746578742e737667", alt="")