- var notes = 'You can enter anything you want here. Just add data-notes to the section.'

section(data-notes=notes)
  h2 Whoami
  <img src="img/jhones.png"/> 
  h6 Jhones da Silva Gonçalves 
  <p style="font-size: 38px;"> Desenvolvedor na Build IT, super apaixonado por tecnologia e eventos de comunidade. Graduado em Analise e desenvolvimento de sistemas pelo uninove e estudante de pós graduação em Arquitetura de Software na <span class='red'>PUC</span>.</p>
  
  
