section
    h2 Sobre o que vamos falar?
    ul
      li.fragment O que é o nest?
      li.fragment bootstrap aplicação
      li.fragment module
      li.fragment controllers
      li.fragment models
      li.fragment services
      li.fragment moongose