section
  section
    h2 O que é o NestJS?
    p  Framwork inspirado no angular para contrução de aplicação backend com NodeJS.
     img(src="https://cdn-images-1.medium.com/max/2000/1*bYHZw5xC3g4o3-2S9rMC9A.png", alt="")
