section(data-background-color='#446971')
  p Como iniciar um projeto nestJS!
  pre
    code.typescript.
        $ npm i -g @nestjs/cli
        $ npm install -g typescript
        $ nest new project-name
