section
  section
    h2 Lazy Loading
    p  O proposito é carregar o module correspondente a rota diacordo com a chamada do mesmo?
  section
    h1 Porque implementar lazy loading?
    ul
      li.fragment aplicação mais leve no carregamento
      li.fragment somente o necessario
      li.fragment usabilidade
      li.fragment fluidez da aplicação
