- var notes = 'You can enter anything you want here. Just add data-notes to the section.'

section(data-notes=notes)
  img(src="https://media.giphy.com/media/1Z02vuppxP1Pa/giphy.gif" alt="")
  p
    a(href="https://www.facebook.com/jhonesgoncalves") Facebook  - 
    a(href="https://www.linkedin.com/in/jhonesgoncalves/") LinkedIn 
  p.
    <span class='red'>Email</span> jhones@developers-sp.com.br
