doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/1-capa
        include ../slides/2-whoami
        include ../slides/3-schedule
        include ../slides/4-what-nest
        include ../slides/5-code-nest
        include ../slides/6-demo
        include ../slides/7-done
    include inc/scripts
